@model CreateCommentDto

<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Leave a comment</h3>
    <form asp-controller="Blog" asp-action="AddComment" method="post" class="p-5 bg-light">
        <div class="form-group">
            <label for="name">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea asp-for="Body" class="form-control" rows="5"></textarea>
        </div>

        <input type="hidden" asp-for="BlogID" value="@ViewBag.blogId" />

        <div class="form-group">
            <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary" />
        </div>
    </form>
</div>
