@model UpdateCategoryDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Update Category(@Model.CategoryID)</h4>
				<p class="card-subtitle mb-4">Please fullfill all the fields with required information.</p>

				<form method="post">
					<input type="hidden" asp-for="CategoryID" />

					<div class="form-group">
						<label for="InputTitle">Name</label>
						<input type="text" class="form-control" id="InputTitle" asp-for="Name" placeholder="Name">
					</div>

					<button type="submit" class="btn btn-primary waves-effect waves-light">Update</button>
				</form>

			</div>
		</div>
	</div>
</div>







