@model List<RentACarAPI.Dto.BannerDtos.ResultBannerDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";

}

<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Car Banner List</h4>
				<p class="card-subtitle mb-4">
					Use table to view car banners, delete car featuress and navigating to create and update forms.
				</p>
				<div class="table-responsive">
					@if (Model.Any())
					{
						<table class="table mb-0">
							<thead>
								<tr>
									<th>Title</th>
									<th>Description</th>
									<th>VideoUrl</th>
									<th>VideoDescription</th>
									<th>Update</th>
									<th>Delete</th>
									<th>Open Video</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.Title</td>
										<td>@item.Description</td>
										<td>@item.VideoUrl</td>
										<td>@item.VideoDescription</td>
										<td>
											<a href="/Admin/AdminBanner/UpdateBanner/@item.BannerID" type="button" class="btn btn-outline-warning waves-effect waves-light">Update</a>
										</td>
										<td>
											<a href="/Admin/AdminBanner/RemoveBanner/@item.BannerID" type="button" class="btn btn-outline-danger waves-effect waves-light">Delete</a>
										</td>
										<td>
											<a href="/Admin/AdminBanner/RemoveBanner/@item.BannerID" type="button" class="btn btn-outline-dark waves-effect waves-light">Open Video</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
					else
					{
						<div class="card text-white bg-warning">
							<div class="card-body">
								<blockquote class="card-bodyquote mb-0">
									<p>
										There are no banners here yet.
									</p>
									<footer class="blockquote-footer text-white-50">
										No Data in <cite title="Source Title">Banners</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					}

					<a href="/Admin/AdminBanner/CreateBanner" type="button" class="btn btn-outline-secondary waves-effect waves-light">New Banner</a>

				</div>

			</div>

		</div>

	</div>
</div>







