<div class="vertical-menu">

	<div data-simplebar class="h-100">

		<div class="navbar-brand-box">
			<a href="index.html" class="logo">
				<i class="mdi mdi-alpha-x-circle"></i>
				<span>
					Rent A Car Admin
				</span>
			</a>
		</div>

		<!--- Sidemenu -->
		<div id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title">Menu</li>

				<li>
					<a href="index.html" class="waves-effect">
						<i class="feather-airplay"></i><span>Dashboard</span>
					</a>
				</li>

				<li>
					<a href="index.html" class="waves-effect">
						<i class="fas fa-chart-bar"></i><span>Statistics</span>
					</a>
				</li>

				<li>
					<a href="/Default/Index/" class="waves-effect">
						<i class="fas fa-home"></i><span>Go To Main Page</span>
					</a>
				</li>

				<li>
					<a href="/AdminCar/Index/" class="waves-effect">
						<i class="fas fa-car"></i><span>Cars</span>
					</a>
				</li>

				<li>
					<a href="/AdminFeature/Index/" class="waves-effect">
						<i class="far fa-lightbulb"></i><span>Features</span>
					</a>
				</li>

				<li>
					<a href="/AdminBrand/Index/" class="waves-effect">
						<i class="fas fa-barcode"></i><span>Brands</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminBanner/Index/" class="waves-effect">
						<i class="fas fa-braille"></i><span>Banner</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminAbout/Index/" class="waves-effect">
						<i class="far fa-hand-paper"></i><span>About</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminAuthor/Index/" class="waves-effect">
						<i class="fas fa-pencil-alt"></i><span>Authors</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminCategory/Index/" class="waves-effect">
						<i class="far fa-bookmark"></i><span>Categories</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminBlog/Index/" class="waves-effect">
						<i class="fab fa-blogger"></i><span>Blogs</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminPricing/Index/" class="waves-effect">
						<i class="fas fa-money-check-alt"></i><span>Pricing Types</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminCommmet/Index/" class="waves-effect">
						<i class="far fa-comment-dots"></i><span>Commmets</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminContact/Inbox/" class="waves-effect">
						<i class="fas fa-inbox"></i><span>Messages</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminFooterAddress/Index/" class="waves-effect">
						<i class="fas fa-map-marked-alt"></i><span>Address</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminLocation/Index/" class="waves-effect">
						<i class="fas fa-warehouse"></i><span>Locations</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminService/Index/" class="waves-effect">
						<i class="fas fa-shipping-fast"></i><span>Services</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminSocialMedia/Index/" class="waves-effect">
						<i class="fab fa-instagram"></i><span>Social Media</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminTag/Index/" class="waves-effect">
						<i class="fas fa-tags"></i><span>Tags</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminTestimonial/Index/" class="waves-effect">
						<i class="fas fa-user-tie"></i><span>Testimonials</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminTestimonial/Index/" class="waves-effect">
						<i class="fas fa-cogs"></i><span>Settings</span>
					</a>
				</li>

				<li>
					<a href="/Admin/AdminTestimonial/Index/" class="waves-effect">
						<i class="fas fa-sign-out-alt"></i><span>Log Out</span>
					</a>
				</li>


			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>