
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Dashboard</h4>
        </div>
    </div>
</div>
@await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")

<div class="row">

    @await Component.InvokeAsync("_AdminDashboardFirstChartComponentPartial")

    @await Component.InvokeAsync("_AdminDashboardSecondChartComponentPartial")
    <!-- end col -->
    @await Component.InvokeAsync("_AdminDashboardThirdChartComponentPartial")

     <!-- end col -->
</div>

<div class="row">

    @await Component.InvokeAsync("_AdminDashboardCarPricingsComponentPartial")
    @await Component.InvokeAsync("_AdminDashboardPopularBlogsComponentPartial")
    
</div>


