@model List<ResultCommentDto>

<h3 class="mb-5">@Model.Count Comments</h3>
<ul class="comment-list">
    @foreach(var item in Model)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="images/person_1.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
                <h3>@item.Name</h3>
                <div class="meta">@DateTime.Parse(item.CreatedDate.ToString()).ToString("f")</div>
                <p>@item.Body</p>
            </div>
        </li>
    }
</ul>
